.general {
    font-family: 'Roboto', sans-serif;
    color: #2e2f42;
    background-color: #fff;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.6667;
    text-transform: uppercase;
}
.web {
    line-height: 1.16667;
    text-transform: uppercase;
    color: #4d5ae5;
}

.send {
    font-weight: 500;
}
.send-adress {
    font-weight: 400;
    color: #434455;
}
.title {
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07143;
        color: #fff;
}